* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(211, 211, 211);
    color: rgb(19, 19, 19);
}

h1 {
    text-align: center;
    margin-top: 10vh;
}

.form-bg {
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(184, 184, 184);
    max-width: 720px;
    height: auto;
    margin: 5vh auto;
    padding: 20px 15px;
    border-radius: 15px;

}

.formulario label, .formulario input {
    display: block;
    height: 36px;
    border-radius: 3px;
    max-width: 400px;
}

.formulario label {
    font-size: 1.3rem;
    font-weight: 500;

}

.formulario input {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 26px;
    padding-left: 6px;
    border: 1px solid rgb(117, 117, 117);

}

.formulario {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 32px 150px;
    justify-content: center;
}

fieldset {
    margin-top: 32px;
    border: none;
}

#enviar {
    display: block;
    width: 200px;
    height: 40px;
    background-color: rgb(80, 192, 80);
    border: 1px solid rgb(51, 143, 51);
    color: rgb(19, 19, 19);
    border-radius: 3px;
    margin-top: -22px;
    margin-right: 445px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
}

#enviar:hover {
    background-color: rgb(58, 165, 58);
}