* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(211, 211, 211);
    color: #131313;
}

h1 {
    text-align: center;
    margin-top: 10vh;
}

.form-bg {
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(184, 184, 184);
    max-width: 700px;
    height: auto;
    margin: 5vh auto;
    padding: 20px 15px;
    border-radius: 15px;
}

.load {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 200;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #75ffdd;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

.formulario label, .formulario input {
    display: block;
    height: 36px;
    border-radius: 3px;
    max-width: 400px;
}

.formulario label {
    font-size: 1.3rem;
    font-weight: 500;

}

.formulario input {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 26px;
    padding-left: 6px;
    border: 1px solid rgb(117, 117, 117);
}

.formulario {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    gap: 32px 120px;
    justify-content: center;
}

fieldset {
    margin-top: 32px;
    border: none;
}

#enviar {
    display: block;
    width: 200px;
    height: 40px;
    background-color: rgb(105, 218, 105);
    border: 1px solid rgb(51, 143, 51);
    color: rgb(19, 19, 19);
    border-radius: 3px;
    margin-top: -22px;
    margin-right: 420px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
}

#enviar:hover {
    background-color: rgb(58, 165, 58);
}